
.img {
    width: 110%;
    height:100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-image: url(src\assets\imgs2\accueil-mixte.png);
  }

  body{
    background-color: #25274d;
}
.contact{
    padding: 4%;
    height: 200px;
}
.col-md-3{
    background: LightGray;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    opacity: 0.8;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-6{
  background: darkturquoise;
  padding: 4%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  opacity: 0.8;
}
.contact-form label{
    font-weight:500;
}


.input, .input label, .input input, .input .spin, .button, .button button {
  float: left;
  width: 90%;
  margin-left: 20px;
  border-radius: 20px;
}
.input, .button {
  margin-top: 30px;
}
.input, .input input, .button, .button button {
  position: relative;
}
.input input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  height: 40px;
  top: 10px;
}
.input input, .input label, .button button {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Roboto",sans-serif;
  font-size: 24px;
  font-weight: 300;
}
.input::before, .input .spin {
  bottom: 0;
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}
.input .spin {
  background: rgb(237, 37, 83) none repeat scroll 0 0;
  width: 0;
  z-index: 4;
}
.input label {
  cursor: pointer;
  left: 0;
  line-height: 60px;
  position: absolute;
  top: 10px;
  z-index: 2;
}


.button.login {
  left: 20%;
  width: 60%;
}
.button.login button, .button button {
  background-color:#25274d;
  border-radius: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 900;
  line-height: 40px;
  width: 50%;
  transition: all 0.5s ease;
  border:0px solid #fff;
  margin-left: 25%;
}
.button.login {
  margin-top: 30px;
}
.button {
  margin-top: 20px;
}
.button button {
  background-color: rgb(255, 255, 255);
  border: medium none;
  color: rgb(237, 37, 83);
}
.button.login button.active {
  border: 3px solid rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
}
.button.login button.active:hover {
  border: 3px solid rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
}
.button.login button.active span {
  opacity: 0;
  transform: scale(0);
}
.button.login button.active i.fa {
  opacity: 1;
  transform: scale(1) rotate(0deg);
}
.button.login button i.fa {
  height: 100%;
  left: 0;
  line-height: 60px;
  position: absolute;
  top: 0;
  transform: scale(0) rotate(-45deg);
  width: 100%;
}
.button {
  margin: 40px 0;
  z-index: 2;
  border-radius: 50px;
  overflow: hidden;
}
