<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="img">
  <div class="container contact">
    <div class="row">
      <div class="col-md-3">
        <div class="contact-info">
          <img src="https://img.icons8.com/material/1600/inscription.png" width="200px" height="200px" alt="image"/>
          <h2>Inscription</h2>
          <h4>Nous sommes ravie que vous ayez acceptez de nous rejoindre !</h4>
        </div>
      </div>
      <div class="col-md-6">
        <div class="contact-form">
          <div class="input">
            <input type="text" style="background-color:white" name="name" id="name" placeholder="   Nom">
            <span class="spin"></span>
          </div>
          <div class="input">
            <input type="text" style="background-color:white" name="name" id="prenom" placeholder="   Prénom">
            <span class="spin"></span>
          </div>
          <div class="input">
            <input type="text" style="background-color:white" name="name" id="email" placeholder="   E-mail">
            <span class="spin"></span>
          </div>
          <div class="input">
            <input type="text" style="background-color:white" name="name" id="mdp" placeholder="   Mot de passe">
            <span class="spin"></span>
          </div>
          <div class="input">
            <input type="text" style="background-color:white" name="name" id="confirmationMDP"
                   placeholder="   Confirmation du mot de passe">
            <span class="spin"></span>
          </div>

          <div class="button login">
            <button type="submit" class="btn btn-default">Valider</button>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
