<div class="img">
  <div class="message">
      <a href="#/mentionslegales" class="lien">Mentions Légales </a>
      <a href="#/cgv" class="lien">| CGV | </a>
      <i class="fab fa-facebook-square"></i>      
      <a href="https://www.facebook.com" class="lien"> Facebook | </a>
      <i class="fab fa-instagram"></i>
      <a href="https://www.instagram.com" class="lien"> Instagram | </a>
      <i class="fas fa-at"></i>
      <a href="#/contact" class="lien"> Contact | </a>
      <i class="far fa-copyright"></i>
      <a class="lien">  Copyright Le dressing Camille et Clément - année 2019 </a>
  </div>
</div>
