<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

  <div class="container contact">
        <table mat-table [dataSource]="dataSource" class="fixed" matSort>
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> N°Commande </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Taille </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Etat du produit </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total (€) </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
          </ng-container>
     <!-- Symbol Column -->
          <ng-container matColumnDef="prout2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Annuler Commande</th>
            <td mat-cell *matCellDef="let element">
              <button mat-button (click)="openDialog()"><i class="fas fa-times"></i></button>
            </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="prout">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Facture</th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-button><i class="fas fa-file-export"></i></button>
            </td>
          </ng-container>
          

     

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        

        <mat-paginator [pageSizeOptions]="[5]" class="fixed2" showFirstLastButtons></mat-paginator>
      </div>

