<div mat-dialog-content>
  
 
  <mat-form-field>
    <mat-select placeholder="Status Commande">
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div><input matInput></div>
  <mat-form-field class="example-full-width">
    <input matInput placeholder=" N° de suivi de commande" value="">
  </mat-form-field>
  
</div>
<div mat-dialog-action>
<button mat-button>Valider</button>
<button mat-button mat-dialog-close>Annuler</button>    
</div>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license -->