<div class="img">
  <div class="container">
      <h1>Qui suis-je ?</h1>
      <p>
          Je suis Nathalie j ai 49 ans, je suis dans la vente depuis l'âge de 16 ans et passionnée par la mode. Je suis maman de 3 filles et aujourd'hui mamie de 4 petits-enfants, 4 petits garçons qui font mon bonheur et ma joie. 
          Avec ces petits loups qui grandissent plus vite que je ne veux vieillir. J'ai eu cette idée de mettre en vente des vêtements très peu portés et donc pas abîmés. Notre époque change et se dirige vers l' anti gaspillage, les 2e et 3e vie pour les vêtements. Cela est bon pour notre planète comme notre portefeuille. 
          Aidée et soutenue par ma famille, ce projet voit le jour grâce à la volonté la solidarité de mon entourage et toute la confiance qu'ils me portent. 
          Pour la petite histoire, je récupère des vêtements à droite et à gauche. Je fais également les braderies, j'aime fouiner et chiner pour vous les proposer à petit prix.
          Ensuite je lave, je repasse les vêtements et je vous les propose à de petit prix. 
          Je me consacre uniquement aux petits loups de la naissance à 18 mois garçon et fille. 
          Je vous partagerais tous les bons plans sur mon site web. Je sais que les mamans d'aujourd'hui n'ont pas toujours le temps de faire les magasins avec leurs petits bouts.
          Je suis ouverte à toutes vos propositions (dons de vêtements ou vente en lot) N'hésitez pas !
         
     </p>
      
    </div>
  </div>