<div class="img">
  <div class="message">
    <mat-toolbar class="toolbar">
      <span class="spacer"></span>
      <div style="font-size: 15px">
        <button mat-icon-button (click)="snav.toggle()" class="btn-color">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button (click)="snav.toggle()" class="btn-color">
          <mat-icon>shopping_cart</mat-icon>
        </button>
        <button mat-icon-button (click)="snav.toggle()" class="btn-color">
          <mat-icon>person</mat-icon>
        </button>
      </div>
    </mat-toolbar>
  </div>
</div>
