<div class="img">
  <div class="materialContainer">
    <div class="row">
      <div class="col-md-8">
        <mat-card class="article">
          <mat-card-header>
            <mat-card-title>
              <div class="title">Votre panier</div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="content">
            <div class="prix">Prix à payer</div>


            // TODO faire un ngFor
            <div class="row">
              <div class="col-md-2">
                <img class="img-responsive" src="https://i.etsystatic.com/7469826/r/il/e08f4c/1464410287/il_570xN.1464410287_fa3s.jpg" alt="prewiew"
                     width="90" height="110">
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="nom-article">
                    <strong>BODY GARCON STAR WARS</strong>
                  </div>
                  <div class="prix-article">
                    6€
                  </div>
                  <div class="description">
                    <div>
                      Taille : 6 mois
                    </div>
                    <div>
                      Marque : IKKS
                    </div>
                    <div>
                      Etat du produit : Excellent
                    </div>
                  </div>
                </div>
                <div class="supprimer">
                  <button mat-button><i class="fa fa-trash"></i> Supprimer</button>
                </div>

              </div>
            </div>

            <div class="border-article"></div>

            <div class="row">
              <div class="col-md-2">
                <img class="img-responsive" src="https://i.etsystatic.com/7469826/r/il/e08f4c/1464410287/il_570xN.1464410287_fa3s.jpg" alt="prewiew"
                     width="90" height="110">
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="nom-article">
                    <strong>BODY GARCON STAR WARS</strong>
                  </div>
                  <div class="prix-article">
                    6€
                  </div>
                  <div class="description">
                    <div>
                      Taille : 6 mois
                    </div>
                    <div>
                      Marque : IKKS
                    </div>
                    <div>
                      Etat du produit : Excellent
                    </div>
                  </div>
                </div>
                <div class="supprimer">
                  <button mat-button><i class="fa fa-trash"></i> Supprimer</button>
                </div>

              </div>
            </div>

            <div class="border-article"></div>

          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-md-4">
        <mat-card class="paiement">
          <mat-card-header>
            <mat-card-title>
                <button mat-button class="valider">Paiement</button>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="content-total">
            <div class="row">
              <div class="col-md-8 total">
                Achat
              </div>
              <div class="col-md-4">
                12€
              </div>
            </div>

            <div class="row">
              <div class="col-md-8 total">
                Frais de port
              </div>
              <div class="col-md-4">
                4€
              </div>
            </div>

            <div class="trait"></div>

            <div class="row total-cde">
              <div class="col-md-8">
                Total
              </div>
              <div class="col-md-4">
                16€
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>


    </div>

  </div>
</div>
