<div class="img">
  <div class="container2">
      <div id="toggle-linear"></div>
      <div class="step">
          <mat-horizontal-stepper [linear]="isLinear" #stepper>
              <mat-step [completed]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                  <ng-template matStepLabel>Article dans votre panier</ng-template>
                      <div class="col-md-8 containerArticle">
                        <mat-card class="article">
                          <mat-card-header>
                            <mat-card-title>
                              <div class="title">Votre panier</div>
                            </mat-card-title>
                          </mat-card-header>
                          <mat-card-content class="content">
                            <div class="prix">Prix à payer</div>

                            <!--TODO faire un ngFor-->
                            <div class="row">
                              <div class="col-md-2">
                                <img class="img-responsive" src="https://i.etsystatic.com/7469826/r/il/e08f4c/1464410287/il_570xN.1464410287_fa3s.jpg" alt="prewiew"
                                     width="90" height="110">
                              </div>
                              <div class="col-md-6">
                                <div class="row">
                                  <div class="nom-article">
                                    <strong>BODY GARCON STAR WARS</strong>
                                  </div>
                                  <div class="prix-article">
                                    6€
                                  </div>
                                  <div class="description">
                                    <div>
                                      Taille : 6 mois
                                    </div>
                                    <div>
                                      Marque : IKKS
                                    </div>
                                    <div>
                                      Etat du produit : Excellent
                                    </div>
                                  </div>
                                </div>
                                <div class="supprimer">
                                  <button mat-button><i class="fa fa-trash" (click)="supprimer()"></i> Supprimer</button>
                                </div>
                              </div>
                            </div>
                            <div class="border-article"></div>

                            <div class="row">
                              <div class="col-md-2">
                                <img class="img-responsive" src="https://i.etsystatic.com/7469826/r/il/e08f4c/1464410287/il_570xN.1464410287_fa3s.jpg" alt="prewiew"
                                     width="90" height="110">
                              </div>
                              <div class="col-md-6">
                                <div class="row">
                                  <div class="nom-article">
                                    <strong>BODY GARCON STAR WARS</strong>
                                  </div>
                                  <div class="prix-article">
                                    6€
                                  </div>
                                  <div class="description">
                                    <div>
                                      Taille : 6 mois
                                    </div>
                                    <div>
                                      Marque : IKKS
                                    </div>
                                    <div>
                                      Etat du produit : Excellent
                                    </div>
                                  </div>
                                </div>
                                <div class="supprimer">
                                  <button mat-button><i class="fa fa-trash" (click)="supprimer()"></i> Supprimer</button>
                                </div>
                              </div>
                            </div>
                            <div class="border-article"></div>
                          </mat-card-content>
                        </mat-card>

                        <div class="BtnSuivant">
                            <button mat-button matStepperNext>Continuer</button>
                          </div>
                      </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                  <ng-template matStepLabel>Adresse d'Expédition</ng-template>
                      <div class="row">
                            <div class="col-md-6">
                       <mat-card-content>
                          <mat-card (click)="Click()" class="card" id="matCard">
                          <mat-card-subtitle>Martin DUPONT</mat-card-subtitle>
                          <mat-card-subtitle class="trait2"></mat-card-subtitle>
                          <mat-card-subtitle>2 rue des prout <br>63100 CLERMONT-FERRAND</mat-card-subtitle>       
                          </mat-card>
                          </mat-card-content>
                          </div>

                        <div class="col-md-6">
                       <mat-card-content>
                        <mat-card (click)="Click()" class="card" id="matCard">
                        <mat-card-subtitle><i class="fas fa-plus-circle"></i> </mat-card-subtitle>
                        <mat-card-subtitle class="trait2"></mat-card-subtitle>
                        <mat-card-subtitle>Ajouter une nouvelle adresse</mat-card-subtitle>       
                        </mat-card>
                        </mat-card-content>
                          </div>
                        </div>

                    <div>
                        <mat-form-field >
                            <input matInput placeholder="Nom" formControlName="secondCtrl" required>
                          </mat-form-field>
                          <mat-form-field class="space">
                              <input  matInput placeholder="Prénom" formControlName="secondCtrl" required>
                            </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field class="sizeAdress">
                            <input matInput placeholder="Adresse" formControlName="secondCtrl" required>
                          </mat-form-field>
                    </div>

                    <div class="margin">
                        <mat-form-field >
                            <input matInput placeholder="Code Postal" formControlName="secondCtrl" required>
                          </mat-form-field>
                          <mat-form-field class="space" >
                              <input matInput placeholder="Ville" formControlName="secondCtrl" required>
                            </mat-form-field>
                    </div>

                  <div>
                    <button class="BtnSuivant1" mat-button matStepperPrevious>Retour</button>
                    <button class="BtnPredt" mat-button matStepperNext>Continuer</button>
                  </div>
                </form>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>Choix du point Relais</ng-template>
                You are now done.
                <div>
                  <button  mat-button matStepperPrevious>Back</button>
                  <button mat-button (click)="stepper.reset()">Reset</button>
                </div>
              </mat-step>
            </mat-horizontal-stepper>
      </div>

  </div>
      <div class="container">
        <div class="row infos">
            <div class="col-sm-4"><i class="fas fa-gift"></i> Livraison gratuite<br>&nbsp; &nbsp; pour les commandes de plus de <br>&nbsp; &nbsp;  50,00 €</div>
            <div class="col-sm-4"><i class="fas fa-dice-d6"></i> Retours sans condition <br>&nbsp; &nbsp; sous 15 jours</div>
            <div class="col-sm-4"><i class="fas fa-shield-alt"></i> Paiements sécurisés à 100%<br>&nbsp; &nbsp; et politique de remboursement  <br>&nbsp; &nbsp;  fiable</div>
        </div>

        <div class="col-md-4 facture">
            <mat-card class="paiement">
              <mat-card-header>
                <mat-card-title>
                  <div>
                        <button mat-button class="valider">Paiement</button>
                  </div>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="content-total">
                <div class="row">
                  <div class="col-md-8 total">
                    Achat
                  </div>
                  <div class="col-md-4">
                    12€
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-8 total">
                    Frais de port
                  </div>
                  <div class="col-md-4">
                    4€
                  </div>
                </div>

                <div class="trait"></div>

                <div class="row total-cde">
                  <div class="col-md-8">
                    Total
                  </div>
                  <div class="col-md-4">
                    16€
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>


</div>
</div>
