.container 		{
  font-family:'arial';
  width:150%;
  height: 12%;
  margin:80px;
  margin-top:8.2%;
  margin-left:18.3%;
  padding:10px 50px 10px;
  background-color:#F3F3F3;
  opacity: 0.9;
  border-radius: 20px;
  position: fixed;
}

.container2 		{
  font-family:'arial';
  width:60%;
  height: 75%;
  margin:80px;
  margin-top:8%;
  margin-left:18%;
  padding:10px 50px 10px;
  background-color:white;
  opacity: 0.95;
  border-radius: 20px;
  position: fixed;
}

.blanc {
color: white;
}

.infos {
  margin-top:2%;
}

.panier {
  margin-top:18%;
}

.paiement{
  height: 100%;
}

.prix{
  margin-left:80%
}

.nom-article{
  color: goldenrod;
  margin-left: 8%;
}

.description{
  margin-left: 14%;
}

.content{
  margin-left: 5%;
}

.supprimer{
  margin-left:120%
}

.prix-article{
  margin-left: 135%
}


.border-article{
  border-bottom: 1px solid goldenrod;
  width: 95%;
  margin-top:2%;
}

.valider{
  background-color: goldenrod;
  margin-left: 20%;
  width: 200%;
  border-radius: 50px;

}

.total{
  font-size: 16px;
}

.total-cde{
  margin-top: 4%;
  font-size: 18px;
  font-weight: bold;
}

.content-total{
  margin-top: 10%;
}

.trait{
  margin-top: 18%;
  border-bottom: 1px solid goldenrod;
}

.trait2{
  margin-top: 1%;
  border-bottom: 1px solid goldenrod;
}

.step
{
margin-top:10%;
}


.facture
{
  margin-top:2%;
  margin-left:105%;
}

.containerArticle
{
  margin-top:2%;
  margin-left:15%;
}

.BtnSuivant {
  background-color:#25274d;
  color:white;
  margin: 14px 0;
  margin-left:85%;
  border-radius: 50px;
  overflow: hidden;
  font-size:4px;
}

.BtnSuivant1 {
  background-color:#25274d;
  color:white;
  margin: 10px 0;
  margin-left:80%;
  border-radius: 50px;
  overflow: hidden;
}

.BtnPredt {
  background-color:#25274d;
  color:white;
  margin: 10px 0;
  margin-left:2%;
  border-radius: 50px;
  overflow: hidden;
}

.card {
  width:65%;
  height:100%;
}

.space
{
  margin-left:4%;
}

.sizeAdress{
  width:40% !important;
}

.btnEdit{
  background-color:#25274d;
  color:white;
  border-radius: 50px;
  overflow: hidden;
  height: 2%;
  width:2%;
}

