<div>
  <div class="img">

    <div class="materialContainer">
      <div class="box">

        <div class="title">Bienvenue !</div>

        <form class="form">
          <i class="fas fa-user"></i>
          <mat-form-field class="input-mat">
            <input matInput placeholder="Identifiant">
          </mat-form-field>
        </form>

        <form class="form">
          <i class="fas fa-unlock"></i>
          <mat-form-field class="input-mat">
            <input type="password" matInput placeholder="Mot de passe"  [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        </form>


        <div class="button login">
          <button><span>Connexion</span> <i class="fa fa-check"></i></button>
        </div>
        <a href="#/motdepasseoublier" class="pass-forgot">Mot de passe perdu ?</a>
        <a href="#/inscription" class="inscription">Inscription</a>
      </div>
    </div>
  </div>
</div>
