<div>
  <div class="img">

      <div class="materialContainer" >
        <div class="box">

          <div class="title">Bienvenue !</div>

          <div class="input">
            <input type="text" style="background-color:white" name="name" id="name" placeholder="   Identifiant">
            <span class="spin"></span>
          </div>

          <div class="input">
            <input type="password" style="background-color:white"name="pass" id="pass"placeholder="    Mot de passe">
            <span class="spin"></span>
          </div>

          <div class="button login">
            <button><span>Connexion</span> <i class="fa fa-check"></i></button>
          </div>
          <a href="#/motdepasseoublier" class="pass-forgot">Mot de passe perdu ?</a>
          <a href="#/inscription" class="inscription">Inscription</a>
        </div>
      </div>
    </div>
</div>
