<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="img">
  <div class="container contact">
    <div class="row">
      <div class="col-md-3">
        <div class="contact-info">
          <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
          <h2>Contactez nous</h2>
          <h4>Nous aimerions avoir de vos nouvelles!</h4>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input">
          <input type="text" style="background-color:white" name="name" id="name" placeholder="   Nom">
          <span class="spin"></span>
        </div>

        <div class="input">
          <input type="text" style="background-color:white" name="prenom" id="prenom" placeholder="   Prénom">
          <span class="spin"></span>
        </div>

        <div class="input">
          <input type="text" style="background-color:white" name="email" id="email" placeholder="   Email">
          <span class="spin"></span>
        </div>
        
          <textarea class="input area"style="background-color:white" name="commentaire" id="commentaire" placeholder="   Commentaire"></textarea>
          <span class="spin"></span>

        <div class="button login">
          <button type="submit" class="btn btn-default">Valider</button>
        </div>
      </div>
    </div>
  </div>
</div>
