<div class="img">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="navbar-brand bold size2" href="#">CAMILLE</a>
        <a class="navbar-brand bold size2" href="#">CLEMENT</a>
        <button mat-button class="btn">
            <i class="fas fa-search"></i>
          </button>
        <mat-form-field>
          <input matInput placeholder=" Rechercher" value="">
        </mat-form-field>
    <div class="logo">
        <i class="fas fa-democrat"></i>
        </div>
        <div class="param">
            <i class="fas fa-user"></i><a class="navbar-brand size" href="#">&nbsp; Mon compte</a>
            </div>
            <div class="param2">
                <i class="fas fa-shopping-bag"></i><a class="navbar-brand size" href="#">&nbsp; Mon panier</a>
                </div>
   

  </div>
</nav>

</div>