<div class="img">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand bold size2" href="#">ACCUEIL</a>
            <button mat-button class="btn">
                <i class="fas fa-search"></i>
            </button>
            <mat-form-field>
                <input matInput placeholder=" Rechercher" value="">
            </mat-form-field>
            <div class="logo">
                <i class="fas fa-democrat"></i>
            </div>
            <div class="param">
                <button mat-button [matMenuTriggerFor]="menu">
                    <div>
                        <i class="fas fa-user "></i> Mon compte</div>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Mon profil</button>
                    <button mat-menu-item>Mes commandes</button>
                </mat-menu>
            </div>
            <div class="param2">
                <button mat-button matBadge="8" matBadgeSize="medium" matBadgePosition="after" matBadgeColor="primary">
                    <div>
                        <i class="fas fa-shopping-bag"></i> Mon panier
                    </div>
                </button>



            </div>
            <div class="param3">
                <button mat-button class="navbar-brand size" href="#">
                    <div>
                        <i class="fas fa-times"></i> Déconnexion</div>
                </button>
            </div>


        </div>
    </nav>

    <!--Menu filtre-->
    <div class="wrapper">
        <div class="container2">
            <!--Navigation Start-->
            <nav class="navigation">
                <ul>
                    <li class="active">
                        <a>NOUVEAUTE</a>
                    </li>
                    <li>
                        <a>ARMOIRE DE CAMILLE</a>
                    </li>
                    <li>
                        <a>ARMOIRE DE CLEMENT</a>
                    </li>
                    <li>
                        <a>ACCESSOIRES</a>

                    </li>
                    <li>
                </ul>
            </nav>
            <!--Navigation End-->
        </div>
    </div>


</div>