<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<input type="checkbox" name="mobile-nav" id="mobile-nav" class="burger-check" onchange="this.blur()">
<label for="mobile-nav" class="burger white" tabindex="0"><span></span></label>
<nav role="navigation" class="header-nav">
  <div class="fixed-nav">
    <div class="menu">
      <ul>
        <li class="page_item page-item-2">
          <a href="#" class="waves-effect">
            Sample Item
          </a>
        </li>
        <li class="page_item page-item-2">
          <a href="#" class="waves-effect">
            Sample Item
          </a>
        </li>
        <li class="page_item page-item-2">
          <a href="#" class="waves-effect">
            Sample Item
          </a>
        </li>
        <li class="page_item page-item-2">
          <a href="#" class="waves-effect">
            Sample Item
          </a>
        </li>
      </ul>
      <div class="bouton">
      <span class="spacer"></span>
      <div style="font-size: 15px">
        <button mat-icon-button class="btn-color">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button class="btn-color">
          <mat-icon>shopping_cart</mat-icon>
        </button>
        <button mat-icon-button class="btn-color">
          <mat-icon>person</mat-icon>
        </button>
        </div>
      </div>
    </div>
  </div>
</nav>