<!--article-->
<div class="container">
  <div class="row">

    <div class="col-md-3 col-sm-6">
      <div class="product-grid">
        <div class="product-image">

          <img class="pic-1" src="https://www.3suisses.fr/media/produits/3su/universal-music/img/264868548-zoom_prd_3s_1140x1140.jpg">
          <img class="pic-2" src="https://www.3suisses.fr/media/produits/3su/supergirls/img/265159101-mz_prd_3s_600x600.jpg">
        </div>
        <div class="product-content">
          <h3 class="title">
            <h3 href="#">Body</h3>
          </h3>
          <br>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="product-grid">
        <div class="product-image">

          <img class="pic-1" src="https://www.3suisses.fr/media/produits/3su/barbapapa/img/264755395-mz_prd_3s_600x600.jpg">
          <img class="pic-2" src="https://www.3suisses.fr/media/produits/3su/alphabet/img/265210627-mz_prd_3s_600x600.jpg">
        </div>
        <div class="product-content">
          <h3 class="title">
            <h3 href="#">Haut</h3>
          </h3>
          <br>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="product-grid">
        <div class="product-image">

          <img class="pic-1" src="https://www.3suisses.fr/media/produits/3su/alphabet/img/265210630-mz_prd_3s_600x600.jpg">
          <img class="pic-2" src="https://www.3suisses.fr/media/produits/3su/enfant-do/img/112977-mz_prd_3s_600x600.jpg">
        </div>
        <div class="product-content">
          <h3 class="title">
            <h3 href="#">Bas</h3>
          </h3>
          <br>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="product-grid">
        <div class="product-image">

          <img class="pic-1" src="https://www.3suisses.fr/media/produits/3su/absorba/img/265029519-zoom_prd_3s_1140x1140.jpg">
          <img class="pic-2" src="https://www.3suisses.fr/media/produits/3su/absorba/img/265029520-zoom_prd_3s_1140x1140.jpg">
        </div>
        <div class="product-content">
          <h3 class="title">
            <h3 href="#">Vestes/Blousons</h3>
          </h3>
          <br>
        </div>
      </div>
    </div>
    <div class="toto">
      <a href="/#/listearticle">
      <button mat-button class="button btn btn-default prout">Voir tous les articles</button></a>
    </div>
  </div>
</div>
