<!--article-->
<div class="container">
  <div class="row">

    <div class="col-md-3 col-sm-6">
      <div class="product-grid">
        <div class="product-image">

          <img class="pic-1" src="https://www.3suisses.fr/media/produits/3su/universal-music/img/264872675-mz_prd_3s_600x600.jpg">
          <img class="pic-2" src="https://www.3suisses.fr/media/produits/3su/universal-music/img/264872679-zoom_prd_3s_1140x1140.jpg">
        </div>
        <div class="product-content">
          <h3 class="title">
            <h3 href="#">Body</h3>
          </h3>
          <br>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="product-grid">
        <div class="product-image">

          <img class="pic-1" src="https://www.3suisses.fr/media/produits/3su/universal-music/img/264927814-mz_prd_3s_600x600.jpg">
          <img class="pic-2" src="https://www.3suisses.fr/media/produits/3su/universal-music/img/264886437-mz_prd_3s_600x600.jpg">
        </div>
        <div class="product-content">
          <h3 class="title">
            <h3 href="#">Haut</h3>
          </h3>
          <br>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="product-grid">
        <div class="product-image">

          <img class="pic-1" src="https://www.3suisses.fr/media/produits/3su/enfant-do/img/112977-mz_prd_3s_600x600.jpg">
          <img class="pic-2" src="https://i.etsystatic.com/7469826/r/il/e43fb9/1685703290/il_570xN.1685703290_5fti.jpg">
        </div>
        <div class="product-content">
          <h3 class="title">
            <h3 href="#">Bas</h3>
          </h3>
          <br>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="product-grid">
        <div class="product-image">

          <img class="pic-1" src="https://www.3suisses.fr/media/produits/3su/petit-bateau/img/264190292-mz_prd_3s_600x600.jpg">
          <img class="pic-2" src="https://www.3suisses.fr/media/produits/3su/petit-bateau/img/264190290-zoom_prd_3s_1140x1140.jpg">
        </div>
        <div class="product-content">
          <h3 class="title">
            <h3 href="#">Vestes/Blousons</h3>
          </h3>
          <br>
        </div>
      </div>
    </div>
    <div class="toto">
      <a href="/#/liste-article">
      <button mat-button class="button btn btn-default prout">Voir tous les articles</button></a>
    </div>
  </div>
</div>