

.container 		{
    font-family:'arial';
    width:70%;
    color:white;
    height: 75%;
    margin:80px auto 0;
    margin-left:14%;
    padding:10px 50px 50px;
    background-color:DarkTurquoise;
    opacity: 0.9;
    border-radius: 20px;
    margin-top:9%;
    overflow-y:scroll;
    position: fixed;
  
  
  }
  
  .img {
    width: 110%;
    height:100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
  }
  
  