<router-outlet></router-outlet>

<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="snav.toggle()" class="btn-color">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">Projet Nath</h1>
    <span class="spacer"></span>
    <div style="font-size: 15px">
      <button mat-icon-button (click)="snav.toggle()" class="btn-color">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button (click)="snav.toggle()" class="btn-color">
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <button mat-icon-button (click)="snav.toggle()" class="btn-color">
        <mat-icon>person</mat-icon>
      </button>
    </div>


  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav class="toolbar" [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink=".">Item1</a>
        <a mat-list-item routerLink=".">Item2</a>
        <a mat-list-item routerLink=".">Item3</a>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
