<div class="img">
    <div class="container">
           <div class="box">
    
        <h1>Mot de passe oublier ?</h1>
        <h2> Veuillez entrer votre adresse e-mail pour éditer un nouveau mot de passe.</h2>
        <br>
        <form>
            <div class="group">      
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Email</label>
              </div>

          <div class="group">      
             <div class="button login">
            <button><span>Valider</span> <i class="fa fa-check"></i></button>
          </div>
            </div>
        </form>
      </div>
    </div>