<div class="img">
    <div class="container">
           <div class="box">
        <h2>Mot de passe oublié ?</h2>
        <br>
        <p> Veuillez entrer votre adresse e-mail pour éditer un nouveau mot de passe.</p>
        <form>
            <div class="input">  
                <mat-form-field class="example-full-width">  
                <input matInput type="text" name="name" id="name" placeholder="  E-mail">
                </mat-form-field>
                <mat-hint *ngIf="emailError" class="emailError" align="start" >L'e-mail indiqué n'est pas reconnu par nos services</mat-hint>
                <mat-hint *ngIf="emailConfirm" [ngStyle]="{'color': 'green'}" align="start" >E-mail envoyé</mat-hint>
                <span class="spin"></span>
              </div>
        </form>
        <div class="group">      
            <div class="button login">
               <button (click)="valider()"><span>Valider</span> <i class="fa fa-check"></i></button>
             </div>
        </div>
      </div>
    </div>