<div class="img">
    <div class="container">
           <div class="box">
        <h1>Mot de passe oublié ?</h1>
        <h2> Veuillez entrer votre adresse e-mail pour éditer un nouveau mot de passe.</h2>
        <form>
            <div class="input">    
                <input type="text" style="background-color:white" name="name" id="name" placeholder="  E-mail">
                <mat-hint *ngIf="emailError" class="emailError" align="start" >L'e-mail indiqué n'est pas reconnu par nos services</mat-hint>
                <mat-hint *ngIf="emailConfirm" [ngStyle]="{'color': 'green'}" align="start" >E-mail envoyé</mat-hint>
                <span class="spin"></span>
              </div>
        </form>
        <div class="group">      
            <div class="button login">
               <button (click)="valider()"><span>Valider</span> <i class="fa fa-check"></i></button>
             </div>
        </div>
      </div>
    </div>