<div class="img">
  <div class="materialContainer">

    <form class="form">
      <mat-form-field class="input-mat">
        <input matInput placeholder="Titre" [(ngModel)]="titre" name="titre">
      </mat-form-field>
    </form>
    <form class="form">
      <mat-form-field class="input-mat">
        <input matInput placeholder="Description" [(ngModel)]="description" name="description">
      </mat-form-field>
    </form>

    <form class="form">
      <mat-form-field>
        <mat-select placeholder="Genre" [(ngModel)]="Genre" name="genre">
          <mat-option></mat-option>
          <mat-option value="Camille">Camille</mat-option>
          <mat-option value="Clément">Clément</mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <div class="row">
      <form class="form">
        <mat-form-field>
          <mat-select placeholder="Catégorie" [(ngModel)]="categorie" name="categorie">
            <mat-option></mat-option>
            <mat-option value="haut">Haut</mat-option>
            <mat-option value="bas">Bas</mat-option>
            <mat-option value="accessoire">Accessoires</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <form class="form">
        <mat-form-field class="input-mat">
          <input matInput placeholder="Référence" [(ngModel)]="reference" name="reference">
        </mat-form-field>
      </form>
      <form class="form">
        <mat-form-field>
          <mat-select placeholder="Age" [(ngModel)]="age" name="age">
            <mat-option></mat-option>
            <mat-option value="0">0 mois</mat-option>
            <mat-option value="1">1 mois</mat-option>
            <mat-option value="3">3 mois</mat-option>
          </mat-select>
        </mat-form-field>
      </form>

    </div>

    <div class="row">
      <form class="form">
        <mat-form-field class="input-mat">
          <input type="number" matInput placeholder="Prix" [(ngModel)]="prix" name="prix">
        </mat-form-field>
      </form>

      <form class="form">
        <mat-form-field>
          <mat-select placeholder="Marque" [(ngModel)]="marque" name="marque">
            <mat-option></mat-option>
            <mat-option value="IKKS">IKKS</mat-option>
            <mat-option value="Orchestra">Orchestra</mat-option>
            <mat-option value="Levis">Levis</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <form class="form">
        <mat-form-field>
          <mat-select placeholder="Qualité" [(ngModel)]="qualite" name="qualite">
            <mat-option></mat-option>
            <mat-option value="Neuf">Neuf</mat-option>
            <mat-option value="Bon état">Bon état</mat-option>
            <mat-option value="Etat moyen">Etat moyen</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>

    <div class="form">     
      <input type="file" #fileImportInput name="File Upload" [(ngModel)]="photo"/>
      {{fileName}}
    </div>

    <div class="form">     
      <input type="file" #fileImportInput name="File Upload" [(ngModel)]="photo2"/>
      {{fileName2}}
    </div>

    <div class="button save">
      <button (click)="sauvegarder()">Sauvegarder</button>
    </div>
  </div>

  <div id="snackbar">
    <span>{{msg}}</span>
  </div>


</div>

