<div class="img">
  <div class="materialContainer">

    <form class="form">
      <mat-form-field class="input-mat">
        <input matInput placeholder="Titre" [(ngModel)]="titre" name="titre">
      </mat-form-field>
    </form>
    <form class="form">
      <mat-form-field class="input-mat">
        <input matInput placeholder="Description" [(ngModel)]="description" name="description">
      </mat-form-field>
    </form>


    <div class="row">
      <form class="form">
        <mat-form-field>
          <mat-select placeholder="Catégorie" [(ngModel)]="categorie" name="categorie">
            <mat-option></mat-option>
            <mat-option value="haut">Haut</mat-option>
            <mat-option value="bas">Bas</mat-option>
            <mat-option value="accessoire">Accessoires</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <form class="form">
        <mat-form-field class="input-mat">
          <input matInput placeholder="Référence" [(ngModel)]="reference" name="reference">
        </mat-form-field>
      </form>
      <form class="form">
        <mat-form-field>
          <mat-select placeholder="Age" [(ngModel)]="age" name="age">
            <mat-option></mat-option>
            <mat-option>0 mois</mat-option>
            <mat-option>1 mois</mat-option>
            <mat-option>3 mois</mat-option>
          </mat-select>
        </mat-form-field>
      </form>

    </div>

    <div class="row">
      <form class="form">
        <mat-form-field class="input-mat">
          <input type="number" matInput placeholder="Prix" [(ngModel)]="prix" name="prix">
        </mat-form-field>
      </form>

      <form class="form">
        <mat-form-field>
          <mat-select placeholder="Marque" [(ngModel)]="marque" name="marque">
            <mat-option></mat-option>
            <mat-option>IKKS</mat-option>
            <mat-option>Orchestra</mat-option>
            <mat-option>Levis</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <form class="form">
        <mat-form-field>
          <mat-select placeholder="Qualité" [(ngModel)]="qualite" name="qualite">
            <mat-option></mat-option>
            <mat-option>Neuf</mat-option>
            <mat-option>Bon état</mat-option>
            <mat-option>Etat moyen</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>

    <div class="form">     
      <input type="file" #fileImportInput name="File Upload" [(ngModel)]="photo"/>
      {{fileName}}
    </div>

    <div class="form">     
      <input type="file" #fileImportInput name="File Upload" [(ngModel)]="photo2"/>
      {{fileName2}}
    </div>

    <div class="button save">
      <button (click)="sauvegarder()">Sauvegarder</button>
    </div>


  </div>

</div>
