<div class="img">
  <div class="container">
         <div class="box">
      <h1>Mot de passe oublié !</h1>
      <h3> Veuillez entrer votre nouveau mot de passe</h3>
      <div class="input">
        <input type="text" style="background-color:white" name="name" id="mdp" placeholder="   Mot de passe">
        <span class="spin"></span>
      </div>
      <div class="input">
        <input type="text" style="background-color:white" name="name" id="confirmationMDP"
               placeholder="   Confirmation du mot de passe">
        <span class="spin"></span>
      </div>
      <div class="group">      
          <div class="button login">
             <button (click)="valider()"><span>Valider</span> <i class="fa fa-check"></i></button>
           </div>
      </div>
    </div>
  </div>