<div class="img">
  <div class="container">
         <div class="box">
      <h2>Mot de passe oublié !</h2>
      <br>
      <p> Veuillez entrer votre nouveau mot de passe</p>
      <div class="input">
          <mat-form-field class="margin"> 
        <input matInput placeholder="Mot de passe*">
      </mat-form-field>
      </div>
      <div class="input">
          <mat-form-field class="margin"> 
        <input matInput placeholder="Confirmation du mot de passe*">
      </mat-form-field>
      </div>
      <div class="group">      
          <div class="button login">
             <button (click)="valider()"><span>Valider</span> <i class="fa fa-check"></i></button>
           </div>
      </div>
    </div>
  </div>