.container 		{
  font-family:'arial';
  width:60%;
  height: 75%;
  margin:80px;
  margin-top:8%;
  margin-left:18%;
  padding:10px 50px 10px;
  background-color:white;
  opacity: 0.9;
  border-radius: 20px;
  position: fixed;
}

.row {
  margin-top:6%;
  margin-left:25%;
  height: 100%;
  width: 100%;
}

.button {
  background-color:#25274d;
  color:white;
  margin: 40px 0;
  z-index: 2;
  border-radius: 50px;
  overflow: hidden;
}

.buttonMp {
  background-color:#25274d;
  color:white;
  margin: 40px 0;
  z-index: 2;
  border-radius: 50px;
  overflow: hidden;
  margin-left:20%;
}

.border {
  margin-top:4%;
  border:solid;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-top:8%;
}

.example-full-width {
  width: 100%;
}
