<div class="section3">
  <div class="container">
    <div class="row">
      <mat-tab-group>
        <mat-tab label="Vos données personnelles">
          <form class="example-form">

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Nom :" value="{{client.nom}}" [(ngModel)]="nom" name="nom" />
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Prénom :" value="{{client.prenom}}" [(ngModel)]="prenom" name="prenom" />
            </mat-form-field>

            <mat-form-field class="example-full-width">
            <input matInput placeholder="Adresse :" value="{{adresse.rue}}" [(ngModel)]="rue" name="rue">
            </mat-form-field>

           <mat-form-field class="example-full-width">
              <input matInput placeholder="Code Postal :" value="{{adresse.cp}}" [(ngModel)]="cp" name="cp" />
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Ville :" value="{{adresse.ville}}" [(ngModel)]="ville" name="ville" />
            </mat-form-field>

           <mat-form-field class="example-full-width">
              <input matInput placeholder="E-mail :" value="{{client.email}}" [(ngModel)]="email" name="email"/>
            </mat-form-field>
          </form>

          <button mat-button class="button" (click)="modifier()"> Modifier vos informations personnelles</button>
        </mat-tab>

        <mat-tab label="Modifier votre mot de passe">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input type="password" matInput placeholder="Saissisez votre mot de passe actuel" [type]="hide ? 'password' : 'text'" [(ngModel)]="mpactuel" name="mpactuel"/>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? "visibility_off" : "visibility"}}</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input type="password" matInput placeholder="Saissisez votre nouveau mot de passe" [type]="hide ? 'password' : 'text'" [(ngModel)]="newmp" name="newmp"/>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? "visibility_off" : "visibility"}}</mat-icon></mat-form-field>

            <mat-form-field class="example-full-width">
              <input type="password" matInput placeholder="Confirmez votre nouveau mot de passe" [type]="hide ? 'password' : 'text'" [(ngModel)]="confirmemp" name="confirmemp"/>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? "visibility_off" : "visibility"}}</mat-icon>

            </mat-form-field>
          </form>

          <button mat-button class="buttonMp">Modifier votre mot de passe</button>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
