<!--Menu filtre-->
<div class="wrapper">
  <div class="container2">
      <!--Navigation Start-->
      <nav class="navigation">
          <ul>
              <li class="active">
                  <a>NOUVEAUTE</a>
              </li>
              <li>
                  <a>ARMOIRE DE CAMILLE</a>
              </li>
              <li>
                  <a>ARMOIRE DE CLEMENT</a>
              </li>
              <li>
                  <a>ACCESSOIRES</a>
                 
                  </li>
                  <li>
          </ul>
      </nav>
      <!--Navigation End-->
  </div>
</div>