
.img {
  width: 110%;
  height:100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-image: url(src\assets\imgs2\accueil-mixte.png);
}

.prout{
background: darkturquoise;
padding: 4%;
border-top-right-radius: 0.5rem;
border-bottom-right-radius: 0.5rem;
opacity: 0.8;
margin-top:160px;
margin-left:250px;
position: center;
}


