
.img {
  width: 110%;
  height:100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-image: url(src\assets\imgs2\accueil-mixte.png);
}

.prout{
background: darkturquoise;
padding: 4%;
border-top-right-radius: 0.5rem;
border-bottom-right-radius: 0.5rem;
opacity: 0.8;
margin-top:160px;
margin-left:250px;
position: center;
}


.carousel {
  color: white;
}
.carousel .content {
  display: flex;
}
.carousel .content .item {
  width: 100%;
  padding: 0.5em;
  display: block;
  opacity: 0.5;
  transition: opacity 0.295s linear 0.2s;
}
.carousel .content .item.visible {
  opacity: 1;
}
.carousel .content .item .img {
  width: 100%;
  height: 400px;
  display: block;
  background-size: cover;
  background-position: center;
}
.carousel .ball {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
  border: 2px solid;
  opacity: 0.5;
}
.carousel .ball.visible {
  opacity: 1;
}
.carousel .click-area {
  width: 50px;
  text-align: center;
}
.carousel .click-area i {
  font-size: 3em;
}
