<main class="prehome">
    <section class="gender-section women">
    <h1>Femme</h1>
    <figure><img alt="" class="desktop" src="https://www.bonoboplanet.com/on/demandware.static/-/Library-Sites-SharedLibraryBonobo/default/dwadd07be6/prehome/bloc-html/prehome_fe_s07.jpg" title="" /></figure>
    <a href="https://www.bonoboplanet.com/femme"></a>
    </section>
    <section class="gender-section men">
    <h1>Homme</h1>
    <figure><img alt="" class="desktop" src="https://www.bonoboplanet.com/on/demandware.static/-/Library-Sites-SharedLibraryBonobo/default/dw90e627e5/prehome/bloc-html/prehome_ho_s07.jpg" title="" /></figure>
    <a href="https://www.bonoboplanet.com/homme"></a>
    </section>
    </main>