<div class="img">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
    <div class="section3">
           <div class="container">
              <div class="row">
                  <div class="col-sm-5">
                      <div class="product-grid">
                          <div class="product-image">
                              <a>
                                  <img class="pic-1" src="https://i.etsystatic.com/7469826/r/il/e08f4c/1464410287/il_570xN.1464410287_fa3s.jpg">
                                  <img class="pic-2" src="https://i.etsystatic.com/7469826/r/il/e43fb9/1685703290/il_570xN.1685703290_5fti.jpg">
                              </a>
                          </div>
                      </div>
                  </div>
              <div class="col-sm-6">
                 <div class="con1">
                    <span>DESCRIPTION</span>
                    <h2>BODY - STARS  WARS</h2>
                    <div class="tags">
                      <div class="tg">
                         <div class="tgimg"></div>
                         <div class="tgcon">
                           <span>Description de l'article</span>
                           <p>Taille : 6 mois</p>
                           <p>Marque : IKKS</p>
                           <p>Etat du produit : Excellent</p>
                         </div>
                         <div class="clear"></div>
                      </div>
                       <div class="tg">
                         <div class="tgcon">
                           <span class="prout">PRIX : 5 EUROS TTC</span>          
                         </div>
                         <div class="clear"></div>
                      </div>
                      <div class="tg">
                          <div class="tgcon">
                                 <button type="submit" class=" button login btn btn-default prout"><i class="fas fa-shopping-bag"></i>  Ajouter au panier</button>         
                          </div>
                          <div class="clear"></div>
                       </div>
                    </div>
    
                 </div>
              </div>          
            </div>
          </div>
          </div>
  
  </div>