.container 		{
  font-family:'arial';
  width:60%;
  height: 75%;
  margin:80px;
  margin-top:8%;
  margin-left:18%;
  padding:10px 50px 10px;
  background-color:white;
  opacity: 0.9;
  border-radius: 20px;
  position: fixed;
}


.row {
  margin-top:6%;
  margin-left:25%;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.mat-tree{
height: 80%;
}

.bold
{
 font-weight: bold;
 color:black;
 margin-left:-90%
}

.bold2
{
 font-weight: bold;
 color:black;
}

.minuscule{
font-size:12px;
}

.mat-expansion-panel-header {
  font-weight: bold;
  border: 1px solid lightgray;
  background-color: #F3F3F3;
}

ul {
  border: 1px solid lightgray;
  width:100%;

}


p.encours:before {
  content :"→ "
}

p.status:before {
  content :"✓ "
}

p.validation:before {
   content :"o "
 }

p.annuler:before {
  content :"x "
}

.status
{
  margin-top:16%;
  color:green;
}

.encours
{
  margin-top:18%;
  color:orangered;
}

.validation
  {
    margin-top:18%;
    color:grey;
  }

.annuler
{
  margin-top:18%;
  color:red;
}

.margin{
  margin-top:4%;
}

.button {
  background-color:#25274d;
  color:white;
  border-radius: 50px;
}

.button2 {
  background-color:#25274d;
  color:white;
  border-radius: 50px;
  margin-left:10%;
}

.rowbutton{
  margin-top:5%;
  margin-left:44%;
}


.top{
  margin-top:6%;
}

.marge{
  margin-left:-50%;
}

.marge2{
  margin-left:-40%;
}
