<div class="section3">
    <div class="container">
      <div class="row">
        <div>
          <p class="bold2">
            COMMANDES 
          </p>
          <p class="minuscule">
            Consultez l'historique de vos commandes et vos commandes en cours ici.
          </p>
          <div>
            <mat-accordion *ngFor="let commande of listeCommandes">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <p class="margin">
                      Référence de commande {{commande.facture}} / {{commande.date}}
                    </p>
                  </mat-panel-title>
                  <mat-panel-description>
                    <p class="status">
                        ✓ {{commande.statusSuivi}}
                    </p>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-panel-description>
                  <div class="row">
                    <div class="col-xs-6 bold">
                      E-mail :&nbsp;
                    </div>
                    <div class="col-xs-6">
                        {{commande.client.email}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 bold">
                      Date commande :&nbsp;
                    </div>
                    <div class="col-xs-8">
                      {{commande.date}}
                    </div>
                  </div>
                </mat-panel-description>
                <mat-panel-description>
                  <div class="row">
                    <div class="col-xs-6 marge bold">
                      Numéro de la commande :&nbsp;
                    </div>
                    <div class="col-xs-6">
                      {{commande.commande}}
                    </div>
                  </div>
                </mat-panel-description>
                <mat-panel-description>
                  <div class="row">
                    <div class="col-xs-6 marge2 bold">
                      Numéro de suivi :&nbsp;
                    </div>
                    <div class="col-xs-6 ">
                      {{commande.numeroSuivi}}
                    </div>
                  </div>
                </mat-panel-description>
                <mat-panel-description>
                  <div class="row">
                    <div class="col-xs-6 marge bold">
                      Total de la commande :&nbsp;
                    </div>
                    <div class="col-xs-6">
                      {{commande.total}} €
                    </div>
                  </div>
                </mat-panel-description>
                <mat-panel-description>
                  <div class="rowbutton">
                    <button mat-button class="col-xs-6 marge button">Suivi de commande</button>
                    <button mat-button class="col-xs-6 button2">Facture</button>
                  </div>
                </mat-panel-description>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState = true"(closed)="panelOpenState = false"></mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
  